# Example local database settings for running MIDAS with Docker

# POSTGRESQL username
POSTGRES_USER=midas
# POSTGRESQL password for local development
POSTGRES_PASSWORD=midas123
# POSTGRESQL database name
POSTGRES_DB=midas
# Connection address used by the backend to connect to PostgreSQL
DATABASE_URL=postgresql://midas:midas123@db:5432/midas
